div {
    background-color: yellow;
}

.text {
    color: white;
    background-color: blue;
}

#important {
    background-color: blueviolet;
}

input[type="text"] {
    border:solid 5px red;
}

section p {
    background-color: black;
    color: greenyellow;
}

div > section {
    color: azure;
    background-color: darkblue;
}

h1 ~ p {
    background-color: aqua;
}

h2 , h3 , h4 {
    color: white;
    background-color: darkblue;
}

a:hover {
    color: darkmagenta;
}

h5::after {
    content: "#";
    color: deeppink;
}